<footer class="site-footer">
  <div class="container">
    {% include social.html %}
    <p class="txt-medium-gray">
      <small>&copy;{{ site.time | date: '%Y' }} All rights reserved. Hemershon Silva <a href="www.hemershon.com" target="_blank">contato&#9749;</a></small>
    </p>
  </div>
</footer>
