---
layout: default
---

<section class="hero">
  <div class="hero-inner">
    <div class="container">
      <img src="{{ site.author.thumb | prepend: site.baseurl }}" alt="author thumb" class="dot">
      <h1>Hemershon Silva<small></small></h1>
      <h3>Develop web<small></small></h3>
      
      <h3></strong> <em itemprop="jobTitle">{{ site.author.job }}</em></h3>
      <canvas id="myChart-bar" width="300" height="100"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

<script>
var ctx = document.getElementById("myChart-bar");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["HTML CSS", "Javascript", "Ruby on Rails", "PHP","REST APIS", "Docker", "Postgresql", "Mysql"],
    datasets: [{
      label: 'competências',
      data: [80, 71, 75, 30, 40, 30, 40, 20, 40, 70, 40],
      backgroundColor: [
        'rgba(54, 162, 235, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(54, 162, 235, 0.2)'
        
      ],
      borderColor: [
        
        'rgba(54, 162, 235, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(54, 162, 235, 1)'
      ],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero:true
        },
        scaleLabel: {
          display: true,

        }      
      }],
      xAxes:
      [{
        scaleLabel:{
          display: true,
        }
      }]
    }
  }
});
</script>


      <h3><strong itemprop=" bio">{{ site.author.bio }}</h3>
      
      <a href="{{ '/about' | prepend: site.baseurl }}" class="button button-ghost" title="about">Sobre</a>
      <a href="{{ '/blog' | prepend: site.baseurl }}" class="button button-ghost" title="blog">blog</a>
      <a href="{{ '/projetos' | prepend: site.baseurl }}" class="button button-ghost" title="projetos">Projetos</a>
      {% include social.html %}
      
    </div>
  </div>
</section>
